
@{
    ViewBag.Title = "Đơn Vị Tính";
}

<div class="title">
    <h1>Trang Chủ</h1>  <span> - Đơn vị tính - </span>
</div>

<div class="items" style="display:block;">
    <div class="group__item">
        <div style="display:flex;align-items:center;justify-content:space-between">
            <div class="input-group" style="width:70%">
                <input type="text" class="form-control" placeholder="Tìm kiếm" aria-describedby="basic-addon2" style="padding:5px 10px">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddDonViTinh">Thêm</button>
        </div>
    </div>
    <div class="group__item">
        <div class="panel panel-info">
            <h1 class="panel-heading">Có ... kết quả cho tất cả</h1>
        </div>
    </div>
    <div class="group__item" style="display:flex;">
        <table class="table table-striped">
            <thead>
                <tr style="color: #8cadb7;">
                    <th>Mã vùng</th>
                    <th>Tên đơn vị sản phẩm</th>
                    <th>Có số lẻ</th>
                    <th style="width:150px"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kg</td>
                    <td>Có</td>
                    <td>
                        <button type="button" class="btn btn-light"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn btn-warning"><i class="fa-solid fa-xmark"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bao</td>
                    <td>Không</td>
                    <td>
                        <button type="button" class="btn btn-light"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn btn-warning"><i class="fa-solid fa-xmark"></i></button>
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>


    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@*Modal*@

<div class="modal fade" id="modalAddDonViTinh" tabindex="-1" role="dialog" aria-labelledby="modalAddDonViTinh" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo đơn vị sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="group__item mb-3">
                    <label>Tên đơn vị sản phẩm</label>
                    <input type="text" class="form-control" placeholder="Tên đơn vị" aria-describedby="basic-addon2" style="width:100%">

                </div>

                <div class="group__item mb-3">
                    <div class="checkboxsl">
                        <input type="checkbox" id="sole" name="sole" value="Sole" style="width:5%;height:5%">
                        <label for="sole"> &ensp;Có số lẻ</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Tạo</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

            </div>
        </div>
    </div>
</div>