
@{
    ViewBag.Title = "Loại phiếu nhập";
}

<div class="title">
    <h1>Trang Chủ</h1>  <span> - Loại phiếu nhập</span>
</div>

<div class="items" style="display:block;">
    <div class="group__item">
        <div style="display:flex;align-items:center;justify-content:space-between">
            <div class="input-group" style="width:70%">
                <input type="text" class="form-control" placeholder="Tìm kiếm" aria-describedby="basic-addon2" style="padding:5px 10px">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddPhieuNhap">Thêm</button>
        </div>
    </div>
    <div class="group__item">
        <div class="panel panel-info">
            <h1 class="panel-heading">Có ... kết quả cho tất cả</h1>
        </div>
    </div>
    <div class="group__item" style="display:flex;">
        <table class="table table-striped">
            <thead>
                <tr style="color: #8cadb7;">
                    <th>Mã loại</th>
                    <th>Tên loại</th>
                    <th>Duyệt</th>
                    <th>Cần phiếu chi</th>
                    <th style="width:150px"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7</td>
                    <td>Nhập thành phẩm</td>
                    <td>Duyệt tự động</td>
                    <td>không</td>

                    <td>
                        <button type="button" class="btn btn-light"><i class="fa-solid fa-lock"></i></button>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>


    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@*Modal*@

<div class="modal fade" id="modalAddPhieuNhap" tabindex="-1" role="dialog" aria-labelledby="modalAddPhieuNhap" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo loại phiếu nhập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="group__item mb-3">
                    <label>Tên loại</label>
                    <input type="text" class="form-control" placeholder="Tên loại" aria-describedby="basic-addon2" style="width:100%">

                </div>

                <div class="group__item mb-3">
                    <div class="checkboxsl">
                        <input type="checkbox" id="sole" name="sole" value="Sole" style="width:5%">
                        <label for="sole"> &ensp;<b>Cần phiếu chi</b></label>
                    </div>
                </div>

                <div class="group__item mb-3">
                    <label>Loại phiếu chi</label>
                    <input list="loaiphieuchi" class="form-control" placeholder="Loại phiếu chi" aria-describedby="basic-addon2" style="width:100%">
                    <datalist id="loaiphieuchi">
                        <option value="chi tiền mua hàng">
                        <option value="chi tiền nâng cấp cơ sở vật chất">
                    </datalist>
                </div>

                <div class="group__item mb-3">
                    <label for="mota">Mô tả</label>
                    <textarea class="form-control" rows="5" id="mota" placeholder="Mô tả chi tiết" name="text"></textarea>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Tạo</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

            </div>
        </div>
    </div>
</div>